<!DOCTYPE html>
<html>
    <head>
        <title>Robo Red Team: Training Platform</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="contentBox">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center"><b>Robo Red Team: Training Platform</b></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!--Vue component to be placed here-->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>