<!DOCTYPE html>
<html>
    <head>
        <title>Robo Red Team: Training Platform</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.8.2/forge.all.min.js"></script>
    </head>
    <body>
        <div class="contentBox">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h1 class="text-center"><b>Robo Red Team: Training Platform</b></h1>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="form-group text-center">
                            <select class="form-control" id="campaignSelect"></select>
                            <button class="btn btn-secondary text-center" onclick="GetCampaignInfo()">Get Campaign Info</button>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div id="campaignInfo" class="col-6"></div>
                </div>
                <div class="row justify-content-center">
                    <div id="spawnedCampaignInfo" class="col-6"></div>
                </div>
            </div>
        </div>
        <script src="/js"></script>
    </body>
</html>